.parent{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eachTask{
  display: flex;
  align-items: center;
  gap: 10px;
}

.input{
  display: flex;
  align-items: center;
  gap: 10px;
}